body{
    background: url('./bg-1.jpg');
    background-size:cover;
    background-position: center;
    height: 70vh;
    width: auto;
    box-sizing: border-box;

    
}

.main-div{
    
    width: 19%;
    margin: auto;
    margin-top: 180px;
    height: 200px;
    padding: 30px;
    overflow: auto;
}


.user-input{
    width: 94%;
    margin: 5px;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    outline: none;

    
}

.user-pass{
    
    width: 94%;
    margin: 5px;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
}
.form-button-login ,
 .form-button-register{
    width: 46%;
    margin: 5px;
    border-radius: 15px;
    padding: 13px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    cursor: pointer;
    
    
}
.form-button-register{
    float: right;
}

